# URL completa de conexão com o banco de dados, incluindo o tipo de banco, usuário, senha, host, porta e nome do banco.
# Exemplo para PostgreSQL: postgres://user:password@localhost:5432/database_name
DATABASE_URL="Coloque_aqui_o_link_de_conexao_com_seu_banco_de_dados"

# A porta na qual o servidor irá rodar. Use um número de porta disponível no seu ambiente.
# Exemplo: 3000, 4000
PORT="Insira_o_numero_da_porta_aqui"

# Chave secreta usada para assinar e validar tokens JWT (JSON Web Tokens).
# Certifique-se de usar uma string forte e aleatória.
SECRET="Insira_uma_string_secreta_segura_para_assinar_tokens_aqui"
